@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --gold-color: #e7c457;
  --black: #1f1f25;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.app {
  background-color: #1f1f25;
  min-height: 100vh;
}

/* Swiper */
.swiper-pagination-bullet-active {
  background-color: var(--gold-color) !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #e7c457 !important;
}
